*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.free
{
    padding: 10px 30px;
    width: 100%;
    background: #010f1c;
    display: flex;
}
.free .icon
{
    color: #f3b123;
    font-size: 32px;
}
.free p
{
    margin-left: 10px;
    color: #f6f7f9;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
}
.logo img{
    margin-top: -30px;
    margin-bottom: -40px;
    height: 120px;
    width: 120px;
}
.main_header
{
    padding: 30px 40px;
    width: 100%;
    border-bottom: 1px solid #010f1c;
}
.main_header .container
{
    display: flex;
    justify-content: space-between;
}
.main_header .container .search_box
{
    margin-right: 30px;
}
.main_header .container .search_box input
{
    outline: none;
    padding: 10px 30px;
    border: 3px solid blueviolet;
    width: 300px;
    color: #4a00e0;
    font-size: 13px;
}
.main_header .container .search_box button
{
    border: 3px solid linear-gradient(to right, #8e2de2, #4a00e0);
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: #ecf2f7;
    font-weight: 600;
    font-style: 22px;
}

.main_header .container .icon
{
    display: flex;
    margin-right: 50px;
}
.main_header .container .icon .account
{
    display: flex;
    margin-right: 30px;
    
}
.main_header .container .icon .account .user_icon
{
    margin-right: 10px;
    font-size: 30px;
    color: linear-gradient(to right, #8e2de2, #4a00e0);
    cursor: pointer;
}
.main_header .container .icon .account p
{
    margin-right: 5px;
    margin-top: 2px;
}
.main_header .container .icon .second_icon
{
    display: flex;
}
.main_header .container .icon .second_icon .link
{
    margin-right: 25px;
    font-size: 30px;
    cursor: pointer;
    color: #0989ff;
    display:flex;
    text-decoration: none;
}
.my_cart{
   font-size: 25px;
   padding-right: 12px;
   color:rgba(167, 4, 4, 0.811) ;
}
.cartIcon {
    position: relative;
}
.cartIcon:hover {
    color: #8e2de2;
}
.cartIcon span {
    font-size: 12px;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #2879fe;
              color: white;
              position: absolute;
              right: -10px;
              top: -10px;
              display: flex;
              align-items: center;
              justify-content: center;
}
.header
{
    width: 100%;
    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header .container
{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}
.header .container .nav ul
{
    display: flex;
}
.header .container .nav ul li
{
    margin-left: 20px;
    list-style: none;
    font-size: 20px;
}
.header .container .nav ul li .link
{
    text-decoration: none;
    color: #010f1c;
    transition: 0.5s;
}
.header .container .nav ul li .link:hover
{
    color: #4a00e0;
}
.header .container .auth
{
    margin-right: 20px;
    font-size: 22px;
    cursor: pointer;
}
.header .container .auth button
{
    margin-right: 20px;
    font-size: 22px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}
.para {
    padding-top: 5px;
}